body {
    background-color: #000000;
    overflow: hidden;
    backdrop-filter: blur(5px);
    


    font-family: Arial, sans-serif;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/104a8651-305e-446f-8013-99f59f51b815/dfzwssp-61a6aef8-d1dc-48f0-a8c9-c6378307d0de.png/v1/fill/w_1280,h_1932,q_80,strp/silver_wolf___honkai__star_rail_by_aiartshines_dfzwssp-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTkzMiIsInBhdGgiOiJcL2ZcLzEwNGE4NjUxLTMwNWUtNDQ2Zi04MDEzLTk5ZjU5ZjUxYjgxNVwvZGZ6d3NzcC02MWE2YWVmOC1kMWRjLTQ4ZjAtYThjOS1jNjM3ODMwN2QwZGUucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.NSPitOFyBlZREogxdhqhgYU28Pk42pHMTl-A3Pg_g_M'); 
    background-size: cover;
    background-position: center -70px;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #00000050;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(15px);
    color: #fff;
    
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    background: #00000040;
}

.button:hover {
    background-color: #42cdda
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
}


.button {
    background-color: #c325f7;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}

input:focus {
    border-color: #f500bc; 
    box-shadow: 0 0 5px rgba(159, 0, 245, 0.5);
}


.shutter[data-v-7461cf20] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-image: url('https://pbs.twimg.com/media/Fx_NmLKX0AAbLKS?format=jpg&name=large'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajuste conforme necessário */
    background-position: center; /* Ajuste conforme necessário */
    background-repeat: no-repeat;
    -webkit-animation: byeShutter-data-v-7461cf20 2s forwards;
    animation: byeShutter-data-v-7461cf20 2s forwards;
}

.shutter[data-v-7461cf20]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(to right, #8a3ab9, #2b49ef); /* Gradiente de roxo para azul */
    width: 0;
    height: 3px;
    -webkit-animation: shutterOpen-data-v-7461cf20 2s forwards;
    animation: shutterOpen-data-v-7461cf20 2s forwards;
}


@keyframes byeShutter-data-v-7461cf20 {
    40% {
        opacity: 1
    }

    to {
        opacity: 0;
        display: none;
        z-index: -1
    }
}

@-webkit-keyframes shutterOpen-data-v-7461cf20 {
    0% {
        width: 0;
        height: 1px
    }

    to {
        width: 100%;
        height: 100%
    }
}

@keyframes shutterOpen-data-v-7461cf20 {
    0% {
        width: 0;
        height: 1px
    }

    50% {
        width: 100%;
        height: 1px
    }

    90% {
        width: 100%;
        height: 100%
    }

    to {
        width: 100%;
        height: 100%
    }
}

#checkbox {
    position: absolute;
    margin:53px -290px; 
}

#lembre {
    position: absolute;
    color: var(--cor4);
    margin:51px 31px; 
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
}

#checkbox:checked {
    background-color: #e91e63; 
    border-color: #e91e63;
}


